UdaPeople.zip
prometheus-server-key.pem
UdaPeople/presentation.pdf
UdaPeople/urls.txt
UdaPeople/Screenshots/SCREENSHOT01.png
UdaPeople/Screenshots/SCREENSHOT02.png
UdaPeople/Screenshots/SCREENSHOT03.png
UdaPeople/Screenshots/SCREENSHOT04.png
UdaPeople/Screenshots/SCREENSHOT05.png
UdaPeople/Screenshots/SCREENSHOT06.png
UdaPeople/Screenshots/SCREENSHOT07.png
UdaPeople/Screenshots/SCREENSHOT08.png
UdaPeople/Screenshots/SCREENSHOT09.png
UdaPeople/Screenshots/SCREENSHOT10.png
UdaPeople/Screenshots/SCREENSHOT11-1.png
UdaPeople/Screenshots/SCREENSHOT11-2.png
UdaPeople/Screenshots/SCREENSHOT11-3.png
UdaPeople/Screenshots/SCREENSHOT012-1.png
UdaPeople/Screenshots/SCREENSHOT012-2.png
UdaPeople/Screenshots/URL-Backend-DNS.png
UdaPeople/Screenshots/URL-CloudFront.png
UdaPeople/Screenshots/URL-FrontEnd.png
UdaPeople/Screenshots/URL-port9090.png
